body {
  background-color: #ccd1e4;
  letter-spacing: 1px;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.stanz {
  text-align: justify;
}
nav {
  background-color: #feece9;
}
#nava {
  text-decoration: none;
  font-family: "poppins";
  color: #0e2f6c;
  font-size: 13px;
  text-shadow: 0px 0px 6px rgb(0 0 0 / 10%);
  letter-spacing: 0.5px;
  font-weight: bolder;
  /*background-color: #0e2f6c; */
  border: 1px solid transparent;
  border-radius: 10px;
  text-transform: uppercase;
}
.fa-bars {
  font-size: 30px;
  color: #fe7e6d;
}
.abt {
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    height: 100%;
    visibility: hidden;
    background-color: #feece9;
    background-clip: padding-box;
    outline: 0;
    transition: transform 0.5s ease-in-out;
  }
  .logo {
    max-width: 50%;
  }
  .fa-bars {
    font-size: 30px;
  }
  .abt {
    text-transform: uppercase;
    font-size: 2rem;
  }
}
@media (max-width: 420px) {
  .navbar-toggler-icon {
    width: 10px;
    height: auto;
  }
  .logo {
    max-width: 50%;
  }
  .fa-bars {
    position: relative;
    right: 6px;
    font-size: 25px;
  }
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 10px;
}
.navbar-nav {
  margin-left: -154px;
}
@media (max-width: 1000px) {
  .navbar-nav {
    margin-left: 0px;
  }
}
.navbar-brand {
  margin-right: 8rem;
}
.nav-item {
  padding: 5%;
  padding-left: 1%;
  padding-right: 1%;
}
.home-content {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 130px;
  padding: 5%;
  padding-bottom: 15em;
}
@media (max-width: 900px) {
  .navbar > .container-fluid {
    display: inline-block;
  }
  #imag {
    width: 250%;
    position: relative;
    margin-left: 0px;
  }
  .mail {
    font-size: 13px;
  }
  .stanz {
    text-align: justify;
  }
}
.hr-first,
.pap-heading {
  text-shadow: 0px 0px 3px rgba(6, 153, 221, 0.5);
  margin: 5px;
  position: relative;
  top: 100px;
}
.vlessimp {
  text-transform: uppercase;
  color: #008000;
  font-family: "Mukta Malar", Sans-serif;
  font-size: 30px;
  font-weight: 200;
  font-style: normal;
}
.rs {
  font-size: 2rem;
}
.info {
  color: #0e2f6c;
  font-family: "Mukta Malar", Sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 1em;
}
.lessimp {
  color: #2f3a8f;
  font-family: "Mukta Malar", Sans-serif;
  font-size: 40px;
  font-weight: 200;
  line-height: 1em;
}
.highlight {
  color: #0e2f6c;
  font-family: "Mukta Malar", Sans-serif;
  font-size: 91px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1em;
  text-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
}
.moreimp {
  border-radius: 5px;
  background-color: #0e2f6c;
  padding: 2%;
  color: #ffffff;
  font-family: "Mukta Malar", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
}
.mmoreimp {
  border-radius: 5px;
  background-color: #0e2f6c;
  padding: 2%;
  color: #ffffff;
  font-family: "Mukta Malar", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
}
.names p {
  text-align: justify;
}
.l-cer {
  width: 30%;
  padding: 1%;
}
.certfications {
  width: 40%;
  padding: 1%;
}
.certfied {
  position: relative;
  top: 50px;
  text-align: center;
  padding: 2%;
}
.nba {
  width: 30%;
}
.jumbotron {
  background-color: #ffffff;
  text-align: center;
  padding: 50px;
  margin: 30px;
  line-height: 2em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.conf-jumbotron1 {
  position: relative;
  top: 150px;
  background-color: #ffffff;
  text-align: center;
  padding: 50px;
  margin: 30px 15px 30px 15px;
  line-height: 2em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.conf-jumbotron {
  position: relative;
  top: 200px;
  background-color: #ffffff;
  text-align: center;
  padding: 50px;
  margin: 30px 15px 30px 15px;
  line-height: 2em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.topics {
  position: relative;
  top: 200px;
  text-align: center;
  padding: 50px;
  margin: 30px 15px 30px 15px;
  line-height: 2em;
}
@media (max-width: 700px) {
  .home-content {
    position: relative;
    top: 60px;
  }
  .jumbotron {
    background-color: #ffffff;
    text-align: center;
    padding: 50px 30px;
    margin: -11px;
    line-height: 2em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  .conf-jumbotron1 {
    position: relative;
    top: 50px;
    background-color: #ffffff;
    text-align: center;
    padding: 50px 30px;
    margin: 30px -15px 30px -15px;
    line-height: 2em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  .conf-jumbotron {
    position: relative;
    top: 200px;
    background-color: #ffffff;
    text-align: center;
    padding: 50px 30px;
    margin: 30px -15px 30px -15px;
    line-height: 2em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  .topics {
    position: relative;
    top: 200px;
    text-align: center;
    padding: 50px 30px 50px 30px;
    margin: 30px -15px 30px -15px;
    line-height: 2em;
  }
  .lessimp {
    color: #0e2f6c;
    font-family: "Mukta Malar", Sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 1em;
  }
  .highlight {
    color: #0e2f6c;
    font-family: "Mukta Malar", Sans-serif;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1em;
    text-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
  }
}
footer {
  background-color: #feece9;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  top: 50px;
}
footer h4 {
  font-size: 15px;
}
footer p,
footer i {
  font-size: 14px;
}
.heads,
h4 {
  font-weight: 600;
  color: #2f3a8f;
  font-family: var(
      --wsr-font-family,
      HelveticaNeueW01-65Medi,
      HelveticaNeueW02-65Medi,
      HelveticaNeueW10-65Medi
    ),
    "Helvetica Neue", "Helvetica", "Arial", "\30E1\30A4\30EA\30AA", "meiryo",
    "\30D2\30E9\30AE\30CE\89D2\30B4 pro w3", "hiragino kaku gothic pro",
    "sans-serif";
}
.paras {
  color: #0e2f6c;
  font-weight: 400;
}
.orgs {
  line-height: 2rem;
}
.orgs p {
  font-size: 20px;
  font-weight: 100;
}
#names {
  padding: 1%;
}
.col {
  padding: 5%;
}
.conf-footer {
  position: relative;
  top: 200px;
}
.pap-heading {
  top: 150px;
  text-align: center;
}
h1,
.topics h1 {
  text-transform: uppercase;
}
.topics li,
.list {
  margin: 25px;
  list-style: none;
  border-radius: 5px;
  background-color: #0e2f6c;
  padding: 3%;
  color: #ffffff;
  font-family: "Mukta Malar", Sans-serif;
  font-size: 20px;
  line-height: 1rem;
  font-weight: 500;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
}
@media (max-width: 900px) {
  .topics li {
    margin: 10px -31px;
    line-height: 2rem;
  }
  .list {
    line-height: 2rem;
  }
}
@media (min-width: 1000px) {
  .list {
    line-height: 3, rem;
    padding: 1%;
    margin: 0px 280px;
    font-size: 25px;
  }
}
.mail {
  color: red;
}
.reg-content {
  margin-top: 200px;
  text-align: center;
}
#scanner {
  padding: 1%;
}
.dates {
  position: relative;
  top: 250px;
  text-align: center;
}
.dates p {
  font-weight: 400;
  color: #0e2f6c;
}
.reg-dates {
  position: relative;
  top: 150px;
  text-align: center;
}
.reg-dates p {
  font-weight: 400;
  color: #0e2f6c;
}
.impdates {
  position: relative;
  top: 50px;
}
.pap-footer {
  position: relative;
  top: 300px;
}
.con-head {
  margin-bottom: 100px;
  text-transform: uppercase;
}
.contact {
  position: relative;
  top: 250px;
  text-align: center;
}
.contact p {
  margin: 10px;
}
.con-a {
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid transparent;
}
.fa-arrow-right {
  display: block;
}
@media (max-width: 900px) {
  .fa-arrow-right {
    transform: rotate(90deg);
    display: block;
  }
}
#Topic {
  padding: 2%;
}
